<%= form_for(@trial, :remote => true) do |f| %>
  <% if @trial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trial.errors.count, "error") %> prohibited this trial from being saved:</h2>

      <ul>
      <% @trial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="workflow-tabs">
    <nav>
      <h1>New Trial</h1>
      <div class="actions">
        <%= button_tag 'Run', :id => 'run-button' %>
      </div>
    
      <ul>
      <li><a href="#workflow-tabs-data">Data</a></li>
      <li><a href="#workflow-tabs-classifier">Classifier</a></li>
      <li><a href="#workflow-tabs-result">Result</a></li>
      </ul>
    </nav>
    
    <section>
      <div id="workflow-tabs-data">
        <div class="field">
          <%= f.label :datum_id, 'Choose Data'%><br />
          <%= select_tag :datum_id, data_options, 
              'data-pwnfx-refresh-url' => choose_data_url,
              'data-pwnfx-refresh-method' => 'GET',
              'data-pwnfx-refresh-target' => 'data-tabs-table' %>
        </div>
        <h2>Data content</h2>
        <%= render 'data/show' %>
      </div>
    
      <div id="workflow-tabs-classifier" >
        <div class="field">
          <%= f.label :classifier_id, 'Choose Classifier' %><br />
          <%= select_tag :classifier_id, classifiers_options,
              'data-pwnfx-refresh-url' => choose_classifiers_url,
              'data-pwnfx-refresh-method' => 'GET',
              'data-pwnfx-refresh-target' => 'classifier-info' %>
        </div>
        <h2>Classifier Information</h2>
        <div id="classifier-info"></div>
      </div>
      
      <div id="workflow-tabs-result" >
        <h2>Result</h2>
        <div id="trial-result"></div>
      </div>
    </section>
  </div>
<% end %>
