<%= form_for([project, trial], :remote => true) do |f| %>
  <% if trial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trial.errors.count, "error") %> prohibited this trial from being saved:</h2>

      <ul>
      <% @trial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <ul>
    <li><a href="#current-trial-data">Data</a></li>
    <li><a href="#current-trial-classifier">Classifier</a></li>
    <li><a href="#current-trial-run">Training and testing</a></li>
  </ul>
  
  <section id="current-trial-data">
    <div class="field">
      <%= f.label :datum_id, 'Choose Data'%><br />
      <%= select_tag :trial_datum_id, data_options, 
          'data-choose-data-url' => choose_data_url,
          'data-choose-data-method' => 'GET' %>
    </div>
    <h4>Data content</h4>
    <%= render 'data/show' %>
  </section>

  <section id="current-trial-classifier" >
    <div class="field">
      <%= f.label :classifier_id, 'Choose Classifier' %><br />
      <%= select_tag :trial_classifier_id, classifiers_options,
          'data-pwnfx-refresh-url' => choose_classifiers_url,
          'data-pwnfx-refresh-method' => 'GET',
          'data-pwnfx-refresh-target' => 'classifier-info' %>
    </div>
    <h4>Classifier Information</h4>
    <div id="classifier-info"></div>
  </section>
  
  <section id="current-trial-run" >
    <div class="actions">
      <%= button_tag 'Run', :id => 'run-button', :type => 'button' %>
    </div>
  </section>
<% end %>
