<%= form_for(@trial) do |f| %>
  <% if @trial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trial.errors.count, "error") %> prohibited this trial from being saved:</h2>

      <ul>
      <% @trial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :classifier_id %><br />
    <%= f.collection_select :classifier_id, Classifier.all, :id, 
        :program_name %>
  </div>
  <div class="field">
    <%= f.label :datum_id %><br />
    <%= select_tag :datum_id, data_options, 
        'data-pwnfx-refresh-url' => fetch_data_url,
        'data-pwnfx-refresh-method' => 'GET',
        'data-pwnfx-refresh-target' => 'data_content' %>
  </div>
  <div class="actions">
    <%= f.submit 'Run' %>
  </div>
<% end %>
