<h1>Listing trials</h1>

<table>
  <tr>
    <th>Classifier</th>
    <th>Datum</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trials.each do |trial| %>
  <tr>
    <td><%= trial.classifier %></td>
    <td><%= trial.datum %></td>
    <td><%= link_to 'Show', trial %></td>
    <td><%= link_to 'Edit', edit_trial_path(trial) %></td>
    <td><%= link_to 'Destroy', trial, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'Run', run_trial_path(trial) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trial', new_trial_path %>
