<% if @trial.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @trial.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
  <div>
<% else %>
  <%= content_tag :h2, "#{@trial.name}", 'data-trial-id' => @trial.id || -1 %>
  <% datum = @trial.datum %>
  <table class="summary">
    <tbody>
      <tr>
        <td>Data:</td>
        <td><%= datum.relation_name.split('-')[0] %></td>
      </tr>
    
      <tr>
        <td>Classifier:</td>
        <td><%= @trial.classifier %></td>
      </tr>
      
      <tr>
        <td>Examples:</td>
        <td><%= datum.num_examples %></td>
      </tr>
      
      <tr>
        <td>Class:</td>
        <td><%= datum.features.last[:name] %></td>
      </tr>
      
      <tr>
        <td>Features used:</td>
        <td><%= "#{@trial.selected_features.size} / #{datum.num_features - 2}" %>
          <ul>
            <% @trial.selected_features[0..4].each do |i| %>
              <li><%= datum.features[i][:name] %></li>
            <% end %>
          </ul>
          <% if @trial.selected_features.length > 5 %>
            <ul id="toggled-features" hidden >
              <% @trial.selected_features[5..-1].each do |i| %>
                <li><%= datum.features[i][:name] %></li>
              <% end %>
            </ul>
            <ul>
              <li id="feature-toggle-button">
                <span class="ui-icon ui-icon-triangle-1-s">Reveal</span>
              </li>
            </ul>
          <% end %>
        </td>
      </tr>
     </tbody>
  </table>
  <% output = @trial.output %>
  <h3>Result</h3>
  <% accuracy = output[:result][:accuracy] %>
  <% if accuracy %>
    <table class="summary">
      <tbody>
        <tr>
          <td>Accuracy:</td>
          <td><%= "#{"%.4f" % (output[:result][:accuracy] * 100) } %" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
  <% matrix = output[:result][:confusion_matrix] %>
  <% if matrix %>
    <h4>Confusion matrix</h4>
    <table>
      <thead>
        <tr>
          <td></td>
          <% 1.upto(matrix.size) do |i| %>
            <td><%= i %></td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% matrix.each_with_index do |r, i| %>
          <tr>
            <td><%= i + 1 %>
            <% r.each do |c| %>
              <td><%= c.size %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <% unless output[:error].blank? %>
    <h3>Error</h3>
    <p>
      <%= output[:error][0] %>
    </p>
  <% end %>
<% end %>
