<h1>Trial</h1>

<p>
  <b>Datum:</b>
  <%= @trial.datum %>
</p>

<p>
  <b>Classifier:</b>
  <%= @trial.classifier %>
</p>

<h2>Result</h2>
<% @output[:result].each do |line| %>
  <p><%= line %></p>
<% end %>
<h2>Error</h2>
<% @output[:error].each do |line| %>
  <p><%= line %></p>
<% end %>
<%= link_to 'Back', trials_path %>
