<% if @trial.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @trial.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
  <div>
<% else %>
  <%= content_tag :h4, "#{@trial.name}", 'data-trial-id' => @trial.id || -1 %>
  <% datum = @trial.datum %>
  <section>
    <h5>Summary</h5>
    <table class="summary result">
      <tbody>
        <tr>
          <td>Data:</td>
          <td><strong><%= datum.short_name %></strong></td>
          <td>Classifier:</td>
          <td><strong><%= @trial.classifier %></strong></td>
        </tr>
        
        <tr>
          <td>Examples:</td>
          <td><strong><%= datum.num_examples %></strong></td>
          <td>Class:</td>
          <td><strong><%= datum.features.last[:name] %></strong></td>
        </tr>
        
        <tr>
          <td>Features used:</td>
          <td colspan="3">
            <strong>
              <%= "#{@trial.selected_features.size} / #{datum.num_features - 2}" %>
            </strong>
            <ul>
              <% @trial.selected_features[0..4].each do |i| %>
                <li><%= datum.features[i][:name] %></li>
              <% end %>
            </ul>
            <% if @trial.selected_features.length > 5 %>
              <ul id="toggled-features" hidden >
                <% @trial.selected_features[5..-1].each do |i| %>
                  <li><%= datum.features[i][:name] %></li>
                <% end %>
              </ul>
              <ul>
                <li id="feature-toggle-button">
                  <span class="ui-icon ui-icon-triangle-1-s">Reveal</span>
                </li>
              </ul>
            <% end %>
          </td>
        </tr>
       </tbody>
    </table>
    <% output = @trial.output %>
    <h5>Result</h5>
    <% accuracy = output[:result][:accuracy] %>
    <% if accuracy %>
      <table class="summary result">
        <tbody>
          <tr>
            <td>Accuracy:</td>
            <td>
              <strong>
                <%= "#{"%.4f" % (output[:result][:accuracy] * 100) } %" %>
              </strong>
            </td>
            <td></td><td></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </section>
  <% matrix = output[:result][:confusion_matrix] %>
  <% if matrix %>
  <section id="confusion-matrix">
    <h5>Confusion matrix</h5>
    <table >
      <thead>
        <tr>
          <td>Classified as =></td>
          <% 1.upto(matrix.size) do |i| %>
            <td><%= i %></td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% matrix.each_with_index do |r, i| %>
          <tr>
            <td><%= "#{@trial.datum.class_values[i]} = #{i + 1}" %></td>
            <% r.each_with_index do |c, j| %>
              <%= content_tag :td, "#{c.size}", 
                  :class => "#{cell_class i, j, c.size }",
                  'data-confusion-matrix' => data_examples_str(@trial.datum_id, c)%>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
  <% end %>
  <% unless output[:error].blank? %>
    <section>
       <h5>Other output</h5>
       <table class="summary result">
         <tbody>
           <% output[:error].each do |k, v| %>
              <tr>
                <td><%= "#{k.capitalize}:" %></td> 
                <td><%= v %></td>
              </tr>
           <% end %>
        </tbody>
      </table>
    </section>
  <% end %>
<% end %>
