<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <% if msg.start_with? 'Email', 'Password' %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class="fields">
    <p class="field">
      <%= f.label :email %>
      <span class="value">
        <%= f.text_field :email, :required => true, :autofocus => true,
            'data-pwnfx-refresh-url' => check_email_users_url,
            'data-pwnfx-refresh-method' => 'POST',
            'data-pwnfx-refresh-target' => 'user_form_email_availability' %>
      </span>
      <span class="comment" id="user_form_email_availability"></span>
    </p>
    <p class="field">
      <%= f.label :password %>
      <span class="value">
        <%= f.password_field :password, :required => true,
            'data-pwnfx-confirm' => 'new-password' %>
      </span>
    </p>
    <p class="field">
      <%= f.label :password_confirmation %>
      <span class="value">
        <%= f.password_field :password_confirmation, :required => true,
            'data-pwnfx-confirm' => 'new-password' %>
      </span>
      <span class="comment">
        <span data-pwnfx-confirm-win="new-password" class="hidden">
          <%= ok_image_tag %>
        </span>
        <span data-pwnfx-confirm-fail="new-password" class="hidden">
          does not match
        </span>
    </p>
  </section>
  <p class="actions">
    <%= f.submit 'Sign up' %>
  </p>
<% end %>
