<%= form_for(@classifier) do |f| %>
  <% if @classifier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classifier.errors.count, "error") %> prohibited this classifier from being saved:</h2>

      <ul>
      <% @classifier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :program_name %><br />
    <%= f.text_field :program_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
