<h1>Listing classifiers</h1>

<table>
  <tr>
    <th>Program name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @classifiers.each do |classifier| %>
  <tr>
    <td><%= classifier.program_name %></td>
    <td><%= link_to 'Show', classifier %></td>
    <td><%= link_to 'Edit', edit_classifier_path(classifier) %></td>
    <td><%= link_to 'Destroy', classifier, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'Run', run_classifier_path(classifier) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Classifier', new_classifier_path %>
