<article id="tutorial">
  <h1><%= @tutorial.title %></h1>
  <div id="tutorial-sections">
    <% @tutorial.sections.each do |sec| %>
      <%= sec.content.html_safe %>
    <% end %>
  </div>
  <nav>
    <ul>
      <li><%= link_to '<<Prev', '#', :id => 'prev-section' %></li>
      <li><%= link_to 'Next>>', '#', :id => 'next-section' %></li>
    </ul>
  </nav>
</article>
<%= render 'projects/edit', :trial => Trial.new, :project => Project.new %>

