<article id="tutorial">
  <h1><%= @tutorial.title %></h1>
  <div id="tutorial-sections">
    <% @tutorial.sections.each do |sec| %>
      <%= sec.content.html_safe %>
    <% end %>
  </div>
  <nav>
    <%= link_to 'Prev', '#', :id => 'prev-section' %>
    <%= link_to 'Next', '#', :id => 'next-section' %>
  </nav>
</article>
<%= render 'projects/edit', :trial => Trial.new, :project => Project.new %>

