<% if flash[:error] %>
<p class="status-bar ui-state-error">
  <%= alert_icon_tag %>
  <%= flash[:error] %>

  <span class="actions">
    <%= close_status_tag %>
  </span>
</p>
<% elsif flash[:errors] && flash[:errors].any? %>
<div class="status-bar ui-state-error">
  <%= pluralize(flash[:errors].count, "error") %> occurred:
  <span class="actions">
    <%= close_status_link %>
  </span>

  <ul>
  <% flash[:errors].full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% elsif flash[:notice] %>
<p class="status-bar ui-state-highlight">
  <%= info_icon_tag %>
  <%= flash[:notice] %>
  <span class="actions">
    <%= close_status_tag %>
  </span>
</p>
<% end %>
